.resourceDetail[data-type="audio"] {
	background: #000;
}

.resourceDetail[data-type="audio"] audio {
	width: 100%;
	height: 100%;
}

.resourceDetail[data-type="audio"] .resourceOptions {
	top: 0px;
	bottom: auto;
}

.resourceThumb[data-type="audio"] {
	background: linear-gradient( 35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient( -35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient(#bdbdbd, #bdbdbd);
}

/* Annotation Tile */

.tileElement[data-type="audio"] [class^="icon-"]::before, .tileElement[data-type="audio"] [class*=" icon-"]::before {
    content: '\e832';
}

/* Edit Audio Overlay Properties */

.editPropertiesContainer .propertiesTypeIcon[data-type="audio"] [class^="icon-"]::before, .editPropertiesContainer .propertiesTypeIcon[data-type="audio"] [class*=" icon-"]::before {
	content: '\e832';
}