body.frametrail-body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.frametrail-body > .mainContainer {
    flex: 1;
    min-height: 0;
    position: relative;
}

.mainContainer .resourceManagerContent {
    background: var(--secondary-bg-color);
    height: 100%;
    position: absolute;
    width: 100%;
}

.mainContainer.editActive .resourceManagerContent {
    background: var(--primary-fg-color);
}

.mainContainer .resourceManagerContent .viewResources {
    color: var(--primary-fg-color);
    height: 100%;
}

.mainContainer.editActive .resourceManagerContent .viewResources {
    color: var(--primary-bg-color);
}

.mainContainer .viewResources .resourcesList .loadingScreen {
    background-color: transparent;
}

.mainContainer.editActive .viewResources .resourcesList .loadingScreen {
    background-color: rgba(248, 248, 248, 0.4);
}