.resourceDetail[data-type="youtube"] {
	background: linear-gradient( 35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient( -35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient(#bdbdbd, #bdbdbd);
}

/* Annotation Tile */

.tileElement[data-type="youtube"] [class^="icon-"]::before, .tileElement[data-type="youtube"] [class*=" icon-"]::before {
	content: "\f167";
}

/* Edit Youtube Overlay Properties */

.editPropertiesContainer .propertiesTypeIcon[data-type="youtube"] [class^="icon-"]::before, .editPropertiesContainer .propertiesTypeIcon[data-type="youtube"] [class*=" icon-"]::before {
	content: "\f167";
}