.resourceDetail[data-type="pdf"] {
    
}

.resourceDetail[data-type="pdf"] iframe {
	width: 133%;
    height: 133%;
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    transform: scale(0.75);
    transform-origin: 0 0;
}

.resourceThumb[data-type="pdf"] {
    background: linear-gradient( 35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient( -35deg, transparent 49.5%, rgba(0,0,0,0.25) 50%, transparent 50.5% ), linear-gradient(#bdbdbd, #bdbdbd);
}

/* Edit Webpage Overlay Properties */

.editPropertiesContainer .propertiesTypeIcon[data-type="pdf"] [class^="icon-"]::before, .editPropertiesContainer .propertiesTypeIcon[data-type="pdf"] [class*=" icon-"]::before {
    content: "\f1c1";
}