.resourceDetail[data-type="slideshare"] {
    width: 100%;
    height: 100%;
    border: none;
}

.resourceDetail[data-type="slideshare"] iframe {
    width: 100%;
    height: 100%;
    border: none;
}
